html{
    min-height:100%;
    position: relative;
}

body {
    background: #d8d8d8;
    margin:0;
    height: 100%;
    font-family: "Arial";
}

h1 {
    text-align: center;
    font-size:22px;
    margin-top: 0;
    padding-top:10px;
    width: 100%;
    background: #AFAFAF;
}

#orange-logo {
    width: 30px;
    margin-right: 10px;
}

#streams-container {
    width: 20%;
    min-width: 200px;
    background: #FF6600;
    float: left;
    height:100vh;
    overflow: auto;
}

#streams-container table {
    border-collapse: collapse;
    width: 100%;
}

#streams-container tr {
    padding: 0px;
    margin:0;
}

#streams-container td {
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#streams-container tr {
    color: #F3F3F3;
    transition: 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.08);
    font-size: 15px;
    cursor: pointer;
}

#streams-container td:first-child img{
   width: 25px;
   margin:0;
   padding:0;
   margin-right: 5px;
   vertical-align: middle;
}

#streams-container tr:hover, #streams-container #stream-selected {
    background: #ff8000;
    color: white;
    transition: 0.2s ease-in-out;
}

#streams-filter {
    display: flex;
}

#streams-filter fieldset{
    border: 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-align: right;
}

#main-container {
    height:100vh;
    max-width: 100%;
    margin-left: 20%;
    text-align: center;
    overflow: auto;
}

.stream-url {
    font-size: 14px;
}

#player-container:-webkit-full-screen{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#audio-container {
    max-width:80%;
    min-width: 150px;
    margin-top: 1vh;
    margin-left: 3vh;
    text-align: left;
}

#subtitle-container {
    max-width:80%;
    min-width: 150px;
    margin-top: 1vh;
    margin-left: 3vh;
    text-align: left;
}

.demo-player {
    width: 65%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.demo-player-fullscreen {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu-data-container {
    max-width: 100%;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

#bitrate-graph-container {
    float:bottom;
    max-width:95%;
    margin:auto;
    text-align: left;
}

#bitrate-graph-container li {
    display: inline;
    margin-left: 15px;
}

#protection-data-container {
    max-width: 100%;
    text-align: center;
}

.lineconstant-legend{
    font-size: 13px;
    list-style-type: none;
    margin: 0;
}

#protection-data-container table {
    border-collapse: collapse;
    margin: auto;
    font-size: 13px;
}

#protection-data-container table td {
    padding: 5px;
    text-align: left;
    background-color: #E6E6E6;
}

#protection-data-container table td.protection-data-name {
    font-weight: bold;
    background: #7EB6DE;
    text-align: center;
}

.protection-value {
    word-break: break-all;
}

.op-seek-bar .bar-container .bar-seek-zoom {
    position: relative;
    top: -2px;
    height: 8px !important;
}
