/******************************
 * Global
 ******************************/

html {
    min-height:100%;
    position: relative;
}

body {
    background: #EEE;
    margin:0;
    height: 100%;
    font-family: "Arial";
}

/******************************
 * Title
 ******************************/

h1 {
    text-align: center;
    font-size:22px;
    margin-top: 0;
    padding-top:10px;
    width: 100%;
    display:flex;
    justify-content: center;
}

#orange-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top:0px;
    position: relative;
    top: -3px;
}

/******************************
 * Stream list
 ******************************/

#streams-container {
    width: 20%;
    min-width: 200px;
    background: #FF6600;
    float: left;
    height:100vh;
    overflow: auto;
    box-shadow: 2px 2px 2px 2px #6D6D6D;
}

#streams-container table {
    border-collapse: collapse;
    width: 100%;
}

#streams-container tr {
    padding: 0px;
    margin:0;
}

#streams-container td {
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#streams-container tr {
    color: #F3F3F3;
    transition: 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.08);
    font-size: 15px;
    cursor: pointer;
}

#streams-container td:first-child img {
   width: 25px;
   margin:0;
   padding:0;
   margin-right: 5px;
   vertical-align: middle;
}

#streams-container tr:hover, #streams-container #stream-selected {
    background: #ff8000;
    color: white;
    transition: 0.2s ease-in-out;
}

#streams-filter {
    display: flex;
    justify-content: center;
}

#streams-filter fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-align: right;
}

/******************************
 * Main container
 ******************************/

#main-container {
    height:100vh;
    max-width: 100%;
    margin-left: 20%;
    text-align: center;
    overflow: auto;
    position:relative;
}

.stream-url {
    font-size: 14px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background: #ddd;
    padding-top: 2px;
    padding-bottom: 2px;
}

.module {
    max-width: 95%;
    background: white;
    border-radius: 5px;
    padding: 12px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

/******************************
 * Player container
 ******************************/

#player-container:-webkit-full-screen {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

.demo-player {
    width: 65%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.demo-player-fullscreen {
    width: 100%;
    height: 100%;
    position: relative;
}

.op-seek-bar .bar-container .bar-seek-zoom {
    position: relative;
    top: -2px;
    height: 8px !important;
}

/******************************
 * Settings container
 ******************************/

#settings-container {
    text-align: center;
}

#quick-settings {
    display: flex;
    justify-content: center;
}

#quick-settings .quick-settings-item {
    margin-right: 50px;
}

#audio-container {
    text-align: left;
}

#subtitle-container {
    text-align: left;
}

#menu-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 15;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

.settings-item {
    margin: 4px;
}

#menu-container fieldset {
    border: 0;
}

.hidden {
    display: none !important;
}


/******************************
 * Graph container
 ******************************/

#bitrate-graph-container {
    float:bottom;
    margin-left:auto;
    text-align: left;
}

#bitrate-graph-container li {
    display: inline;
    margin-left: 15px;
}

#protection-data-container {
    text-align: center;
}

#bitrate-graph-container canvas {
    max-width: 100%;
}

.lineconstant-legend{
    font-size: 13px;
    list-style-type: none;
    margin: 0;
}

/******************************
 * Protection data container
 ******************************/

#protection-data-container table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    font-size: 13px;
}

#protection-data-container table td {
    padding: 5px;
    text-align: left;
}

#protection-data-container table td.protection-data-name {
    font-weight: bold;
    border-botton: 1px solid black;
    background: #ddd;
    text-align: center;
}

.protection-value {
    word-break: break-all;
}
