<html>
	<head>
<style>
.player {
	width: 100%%;
	background: #313131;
	margin: 0px 0;
}
</style>
</head>
<body>
	

<video controls="true" class="player" muted></video>

<script src="../player/hasplayer-bytesrange-on.js"></script>

<script>
	var update = function(e, player, videoTag, dataObj) {
        // we take only video metrics with httpRequest
        if(e.data && e.data.stream==="video" && e.data.value){
            var httpRequest = e.data.value;
            //filter on Media Segment (skip initialization) and take only those which has finished
            if(httpRequest.type === "Media Segment" && httpRequest.tfinish){

                var lastTrace = httpRequest.trace[httpRequest.trace.length-1] || null;
                // on attends que la vidéo démarre pour commencer les traces
                if(lastTrace && videoTag.currentTime !== 0){
                    var metricsExt = player.getMetricsExt();
                    var bitrateValues = metricsExt.getBitratesForType("video");
                    var time = videoTag.currentTime;
                    var bandwidth = lastTrace.b[0]*8/ (httpRequest.tfinish.getTime() - httpRequest.trequest.getTime());
                    if(bandwidth>10000){
                        bandwidth = 10000;
                    }else{
                        bandwidth = parseFloat(bandwidth);
                    }
                    dataObj.calcBandwidthSeries.push([time, bandwidth]);
                    dataObj.playSeries.push([time,bandwidth]);
                    dataObj.requestSeries.push([time,bitrateValues[httpRequest.quality]/1000]);

					localStorage.setItem('player1', JSON.stringify(dataObj));
                }
            }
        }
       
    };

    function onError(e) {
        console.error(e);
    }

	var video = document.querySelector(".player");

    var context = new Custom.di.CustomContext(),
    	player = new MediaPlayer(context),
    	datas = {
    		calcBandwidthSeries: [],
    		playSeries: [],
    		requestSeries: []
    	};

    player.startup();
    player.attachView(video);
    player.setAutoPlay(true);

	player.addEventListener("error", onError.bind(this));
    player.attachSource('http://10.194.60.192/VIDEO/MSS/France2/Manifest');

    player.addEventListener("metricUpdated", function(evt) {
        update(evt, player, video, datas);
    },false);
</script>
</body>
</html>